* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/*offerbar*/
.offerbar {
    background-color: #1D232C;
    color: white;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-size: 1.5vw;
    transition: 1s;
}

/*navbar*/
.navbar {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    gap: 35px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(40, 39, 39);
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/*hamburger*/
#hamburger-icon {
    display: none;
}

/*SideNavbar*/
.sideNavbar {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #1D232C;
    color: white;
    position: fixed;
    top: 0;
    z-index: 150;
    width: 50%;
    height: 100%;
    left: -70%;
    transition-duration: 1.5s;
}

.sideNavbar ul li {
    list-style: none;
    padding: 15px;
}

.sideNavbar ul li a {
    text-decoration: none;
    color: white;
}

.sideNavbar ul li a:hover {
    text-decoration: underline;
}

/*Slider*/
.slider{
   margin: 12px;
   overflow: hidden;
   position: relative;
   border-radius: 10px;
   margin-bottom: 40px;
   
}
.slider-img{
    width: 300%;
    display: flex; 
    transition: 2s;    
}
.slider-img img{
    width: 100vw;
    height: 100%; 
}
.slider-content{
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    top: 25%;
    bottom: 15%;
    left: 4.5%;
    font-size: 20px; 
    text-align: center;
    padding: 10px;
}
.slide-button{
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    align-items: center;
    margin-bottom: 5px;
}
.slide-button button{
    width: 130px;
    padding: 1.2vw;
    font-size: 13px; 
    
}
.slide-button h1{
    font-size: 3.9vw;
}
#leftAngle, #rightAngle{
    font-size: 11vw;
}
/*Brands*/
.brands{
    margin: 15px;
}
.brand_sec{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.brand_subsec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brand_sec .brand_subsec img{
    width: 4.2vw;
}
.brand_subsec p{
    font-size: 2.1vw;
}
.customer_services{
    margin-top: 40px;
}
.customer_service1 h2{
    font-size: 2.6vw;
    
}
.customer_service1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
}
.customer_service2{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.services{
    background-color:#F2F4F7;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.services p{
    font-size: 1.2vw;
}
.services h5{
    font-weight: 700;
    font-size: 1vw;
}
.services i{
    font-size: 2.8vw;
}
/*New Arrival*/
#newArrival{
    margin: 15px;
    margin-top: 30px;
}

.arrival_sec{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 1.3vw;      
}
.arrival{
    position: relative;
    
}
.arrival img{
    width: 22.2vw;
    border-radius: 10px;  
}
.arrival button{
    padding: 0.9vw;
    position: absolute;
    left: 5.8vw;
    width: 9.8vw;
    font-size: 1.3vw;
    bottom: 8.5vw;
    z-index: 20;
    border-radius: 10px;
    border: none;
}
.overlay{
    z-index: 5;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    border-radius: 10px;   
}
/*Most Wanted */
#mostWanted{
    margin: 15px;
    margin-top: 30px;
    overflow-x: scroll;
}
#mostWanted::-webkit-scrollbar{
    appearance: none;
}
.wanted_section{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 1.4vw;      
}
.wanted_section img{
    width: 22.2vw;
    border-radius: 10px;  
}
.most_wanted{
    position: relative;
    
}
.most_wanted p{
    background-color: red;
    color: white;
    font-size: 2.3vw;
    width: 4.8vw;
    padding: 7px;
    border-radius: 10px;
    position: absolute;
    top: 0;
}
.heart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2.9vw;
  cursor: pointer;
}
/*Banner*/
.banner{
    margin: 15px;
    background-color: #1D232C;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 2.3vw;
}
.banner_img img{
    width: 40.5vw;
}
.banner_content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.8vw;
    font-size: 2vw;
}
.banner_content button{
    width: 10.2vw;
    font-size: 1.2vw;
    padding: 1.2vw;
    border-radius: 10px;
    border: none;
}
/*NewsLetter*/
.newsletter{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-bottom: 20px;
}
.newsletter input{
    width: 85vw;
    border: solid 3px #1D232C;
    height: 30px;
}
.newsletter button{
    background-color: #1D232C;
    color: white;
    border: none;
    font-size: 1.8vw;
    padding: 10px;
    border-radius: 10px;
}
/*Footer*/
.footer{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    font-size: 2vw;
    margin-top: 10px;
    padding: 35px;
    background-color: #1D232C;
    color: white;
}
.logos{
    display: flex;
    gap: 3.4vw;
    padding: 15px;
}
/*Collections */
.collections{
    margin: 15px;
}
.filter{
    display: flex;
    position: relative;  
}
.filter_section1{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    font-size: 1.2vw;
    align-items: start;
}
.filter_section1 label{
    font-size: 1.5vw;
}
.filter_section1 h1{
    margin-top: 25px;
    margin-bottom: 10px;
    position: relative; 
}
.inputBox{
    width: 65vw;
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-left: 1vw;
}
.inputBox input:focus{
    outline:none;
}
.filter_section2{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 12vw;
    margin-top: 0.6vw;
}
.products{ 
    margin-top: 0.6vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 75%;
    position: relative;
    padding: 10px;
    gap: 2.6vw;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
/*Contact*/
.contact{
    background-color: #1D232C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 6.2vw;
    margin: 10vw;
    margin-top: 2vw;
    border-radius: 10px;
    gap: 1.3vw;
}
.contact label{
    font-size: 18px;
}
.contact input{
    width: 60vw;
    height: 3.6vw;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.contact input:focus{
    outline: none;
}
.contact textarea{
    width: 60vw;
    height: 5.6vw;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.contact textarea:focus{
    outline: none;
}
.contact button{
    background-color: #0056B3;
    color: white;
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
/*media screen*/
@media screen and (max-width:800px) {
    #hamburger-icon {
        display: block;
    }

    .navbar ul {
        display: none;
    }

}